*{
    margin: 0;
    padding: 0;
}

html{
    background: rgb(1, 1, 34);
    color: white;
    scroll-behavior: smooth;
}

/* WELCOME */
.welcome{
    width: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 8px;
}

.auto-type{
    color: rgb(57, 57, 59);
}

/* BEGINNING */
.header{
    display: flex;
    justify-content: space-between;
    height: 11vh;
    background: rgb(1, 1, 56);
}

.head-left{
    margin-left: 9%;
    
}

.head-left h1{
    margin-top: 4%;
    font-family: Caprasimo;
    font-weight: 800;
}

.head-right nav ul{
    margin-top: 4%;
}

.head-right nav ul li{
    display: inline-block;
    color: white;

}


.head-right nav ul li a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-top: 3px;
}

.head-right nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}




/* ABOUT */


.start1 nav{
    margin-top: 4%;
    margin-left: 0;
}

.start1 nav ul li{
    display: inline;
}


.start1 nav ul li a{
    margin-right: 80%;
    color: blue;
    text-decoration: none;
    
}


.start1 nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}

.about-me{
    display: flex;
    justify-content: space-between;
    margin-top: 29%;
    text-align: center;
    
}

.start1{
    width: 55%;
    margin-right: 4%;
}
.start1 h1{
    margin-bottom: 2%;
    font-family: Caprasimo;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}



.start1 p{
    font-family: Oxygen;
    font-weight: 500;
}

.start2 img{
    height: 50vh;
    border-radius: 10%;
    margin-right: 10px;
}

/* MY EXPERIENCE */



.my-experience{
    position: relative;
}


.line {
    border-color: rgb(34, 34, 46);
    max-width: 90%;
    margin-left: 50px;
    margin-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.my-experience{
    margin-bottom: 30%;
}


.my-experience h1{
    margin-top: 25%;
    font-family:Caprasimo ;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}

.p1{
    text-align: center;
    text-transform: uppercase;
    font-family: Oxygen;
}


.line2 {
    border-color: white;
    max-width: 90%;
    margin-left: 45px;
    margin-right: 40px;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 15px;
  
}

.an1 nav{
    margin-top: 4%;
}

.an1 nav ul li{
    display: inline;
}


.an1 nav ul li a{
    /* margin-right: 80%; */
    color: blue;
    text-decoration: none;
    margin-top: 3%;
    margin-left: 15%;
}


.an1 nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}

.an{
    display: flex;
    justify-content: space-between;
    text-align: start;
}


.an1{
    flex-basis: 35%;
}


.an1 h2{
    margin-left: 17%;
    font-family:Caprasimo ;
    font-weight: 400;
}

.an1 p{
    margin-left: 17%;
    font-family: Oxygen;
    margin-top: 3%;
}

.t2{
    margin-top: 10%;

}

.image{
    margin-right: 9%;

}

.image img{
    height:50vh ;
    border-radius: 10%;
}



/* skills */

.container-skills h1{
    text-align: center;
    font-family:Caprasimo ;
    margin-bottom: 3%;
}



.container-skills h1::after{
    margin-top: 20%;
    content: "";
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}

.row3{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.skills1 img{
    height: 10vh;
}

.skills1 p{
    font-family: Oxygen;
}

.skills1 img:hover{
    transform: translateY(-10px);
}


.row4{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.skills2 img{
    height: 10vh;
}


.skills2 p{
    font-family: Oxygen;
}


.skills2 img:hover{
    transform: translateY(-10px);
}

.container-skills nav{
    margin-top: 3%;
}


.container-skills nav ul li{
    display: inline;
}


.container-skills nav ul li a{
    /* margin-right: 80%; */
    color: blue;
    text-decoration: none;
    
}


.container-skills nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}



/* my services */


.container{
    width: 100%;
    height: 100vh;
}


.container{
    margin-top: 20%;
}

.container h1{
    text-align: center;
    font-family: Caprasimo;
    font-weight: 900;
    padding-top: 10%;
    margin-bottom: 60px;
    position: relative;
}

.container p{
    font-family: Oxygen;
}

.container h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    grid-gap: 30px;
}

.services{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transform: transform 0.5s , background 0.5s;
}

.services i{
    font-size: 40px;
    margin-bottom: 10px;
    color: #303ef7;
}


.services h2{
    font-weight: 600;
    margin-bottom: 8px;
}

.services:hover{
    background: rgb(37, 32, 32);
    color: #fff;
    transform: scale(1.05);
}

.services:hover i{
    color: #303ef7;
}



.container nav{
    margin-top: 3%;
}


.container nav ul li{
    display: inline;
}


.container nav ul li a{
    /* margin-right: 80%; */
    color: blue;
    text-decoration: none;
    
}


.container nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}

/* contact me */

.con-contactme{
    margin-top: 20%;
}

.con-contactme h1{
    text-align: center;
    font-family: Caprasimo;
    font-weight: 900;
    margin-bottom: 60px;
    position: relative;
}

.con-contactme h1::after{
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row3{
    display: flex;
    justify-content: space-between;

}

.contact1{
    flex-basis: 35%;
    
}

.contact2{
    flex-basis: 60%;
}

.contact1 p{
    font-family: Oxygen;
    margin-right: 5%;
    margin-left: 2%;
    
}


.contact1 p i{
    font-size: 30px;
    margin-left: 3%;
    margin-right: 5%;
    color: #303ef7;
}

.social-links{
    margin-top: 5%;
    margin-left: 2%;
}

.social-links a{
    margin-left: 2%;
    margin-right: 4%;
    font-size: 30px;
    color: #303ef7;
}

.social-links a:hover{
    color: blue;
    transform: translateX(-5px);
}


.social-links a i:hover{
    color: rgb(143, 143, 158);
    transform: translateY(-5px);
}

.contact2 form{
    width: 90%;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(39, 38, 38);
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    border-color: blue;
}


.btn{
    display:block ;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    transition: background 0.5s;
    font-family: Oxygen;
    font-weight: 500;
}

.btn:hover{
    background: blue;

}


/* form .btn2{
    padding: 18px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
} */

.btn2{
    display: inline-block;
    background: #303ef7;
    padding: 18px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 2%;
}

.copyright{
    background: rgb(15, 15, 15);
    text-align: center;
    font-family: Oxygen;
    font-weight: 900;
    padding: 25px 0;
}

.copyright i{
    color: #303ef7;
}


.copyright nav{
    margin-top: 3%;
}


.copyright nav ul li{
    display: inline;
}


.copyright nav ul li a{
    /* margin-right: 80%; */
    color: blue;
    text-decoration: none;
    
}


.copyright nav ul li a:hover{
    color: rgb(37, 37, 39);
    font-size: 20px;
    transform: translateY(-10px);
    
}



.bi-list{
    display: none;
}

.bi-x-lg{
    display: none;
}

@media only screen and (max-width: 600px){



.container{
    margin-bottom: 150%;
}


    
.bi-list{
    display: block;
    font-size: 25px;
}

.bi-x-lg{
    display: block;
    font-size: 25px;
}

nav ul{
    background: #303ef7;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}

nav ul li{
    display: inline-block;
    margin: 50px;
}
.bi-x-lg{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.image img{
    height: 28vh;
    margin-left: 22px;
    margin-right: 9px;
}

.start2 img{
    height: 30vh;

}
}

#msg{
    color: white;
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Oxygen;
    margin-right: 15%;
    margin-bottom: 9%;
    margin-top: -37px;
    display: block;
}

